/* =====common css start =====*/
nav{
    background: #F5F7FA;
    padding: 22px 0px !important;

}
.bannar .common-button a{
    background: #4CAF4F;
    padding: 14px 32px;
    border-radius: 4px;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: white;
    font-weight: 500;
    transition: .5s;
    border: 1px solid transparent;
   
    display: inline-block;
}
.bannar .common-button a:hover{
    background: transparent;
    color: #4CAF4F;
    border: 1px solid #4CAF4F;
    border-color:#4CAF4F ;
}
.title h2{
    font-size: 36px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: #4D4D4D;
    padding-top: 40px;
}
.title{
    text-align: center;
}
.title p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #717171;
    padding-bottom: 8px;
}
.box{
    display: flex;
}

/* =====common css ent =====*/


/* =======Navber Part Start ======*/
.navber-button a{
    background: #4CAF4F;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: white;
    font-weight: 500;
    transition: .5s;
    border: 1px solid transparent;
    margin-left: 10px;
    display: inline-block;
}
.navber-button a:hover{
    background: transparent;
    color: #4CAF4F;
    border: 1px solid #4CAF4F;
    border-color:#4CAF4F ;
}
.navbar-nav{
    column-gap: 50px;
}
.nav-link{
    font-size: 16px;
    font-weight: 400;
    color: #18191F;
    font-family: "Inter", sans-serif;
    padding-left: 0px !important;
    padding-right: 0px !important;
    transition: .4s;
}
.nav-link:hover{
    color: blue;
}
/* =======Navber Part End ======*/

/* <!-- =========Banner Part Start=======--> */
.bannar{
    background: #F5F7FA;
    padding: 161px 0px;
}
.bannar h1{
    font-size: 64px;
    color: #4D4D4D;
    font-weight: 600;
    font-family: "Inter", sans-serif;

}
.bannar h1 span{
    color: #4CAF4F;
}
.bannar p{
    color: #717171;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    padding-top: 16px;
    padding-bottom: 32px;
}

/* <!-- =========Banner End=======--> */

/* <!-- ========= Client  Part Start=======--> */
.client{
    padding: 40px 0px;
}
.client .box{
    justify-content: space-between;
    padding: 40px 0px;
}
/* <!-- ========= Client End End=======--> */

/* <!-- =========Commounity Part Start=======--> */
.commounity{
    padding: 40px 0px;
}
.commounity .title h2{
    width: 542px;
    margin: 0 auto;
}
.commounity .card{
    width: 100% !important;
    padding-left: 42px;
    padding-right: 42px;
    padding-top: 24px;
    padding-bottom: 48px;
    text-align: center;
    border: 0px !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    margin-top: 17px;
    
}
.commounity .card img{
    width: 20% !important;
    margin: 0 auto;
    
}
.commounity .card .card-title{
    font-size: 28px;
    color: #4D4D4D;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    padding-top: 16px;
    padding-bottom: 8px;

    
}
.commounity .card .card-text{
    font-size: 14px;
    color: #717171;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}
.commounity .card .card-body{
    padding: 0 !important;
}
.commounity .cardone{
    width: 100% !important;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 0px;
    padding-bottom: 19px;
    text-align: center;
    border: 0px !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    margin-top: 17px;
    
}
.commounity .cardone img{
    width: 20% !important;
    margin: 15px;
   
    
}
.commounity .cardone .card-title{
    font-size: 28px;
    color: #4D4D4D;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    padding-top: 16px;
    padding-bottom: 8px;
   

    
}
.commounity .cardone .card-text{
    font-size: 14px;
    color: #717171;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}
.commounity .cardone .card-body{
    padding: 0px !important;
}
.commounity .cardtwo{
    width: 100% !important;
    padding-left: 37px !important;
    padding-right: 37px !important;
    padding-top: 0px;
    padding-bottom: 57px;
    text-align: center;
    border: 0px !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    margin-top: 13px;
    
}
.commounity .cardtwo img{
    width: 20% !important;
    margin: 12px;
   
    
}
.commounity .cardtwo .card-title{
    font-size: 28px;
    color: #4D4D4D;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    padding-top: 16px;
    padding-bottom: 8px;
    width: 231px;

    
}
.commounity .cardtwo .card-text{
    font-size: 14px;
    color: #717171;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}
.commounity .cardtwo .card-body{
    padding: 0 !important;
}
/* <!-- =========Commounity Part end=======--> */

/* <!-- =========Service Part start=======--> */
.service .title2{
    text-align: left;
}
.service{
    padding: 48px 0px;
}
.service .container .common-button a{
    background: #4CAF4F;
    padding: 14px 32px;
    border-radius: 4px;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: white;
    font-weight: 500;
    transition: .5s;
    border: 1px solid transparent;
   
    display: inline-block;
}
.service .container .common-button a:hover{
    background: transparent;
    color: #4CAF4F;
    border: 1px solid #4CAF4F;
    border-color:#4CAF4F ;
}
/* <!-- =========Service Part end=======--> */

/* <!-- =========Deteles Part Start=======--> */
.deteils{
    padding: 84px 0px;
    background: #F5F7FA;
    margin: 48px 0px;
}
.deteils .title{
    text-align: left;
}
.deteils .title h2{
    width: 390px;
    padding-bottom: 8px;
}
.deteils .title h2 span{
    color: #4CAF4F;
}
.deteils .box{
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 40px;
    
}
.deteils .payment-box{
    width: 47%;
    display: flex;
    align-items: center;
    column-gap: 16px;

}
.deteils .payment-box h4{
  font-size: 28px;
  font-weight: 700;
  color: #4D4D4D;
  font-family: "Inter", sans-serif;
}
.deteils .payment-box p{
  font-size: 16px;
  font-weight: 400;
  color: #717171;
  font-family: "Inter", sans-serif;
}

/* <!-- =========Deteles Part Ent=======--> */

/* <!-- =========Service2 Part Start=======--> */

/* <!-- =========Service2 Part End=======--> */